body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    color: white;
    background-color: #121212;
}
a:link {
    color: indianred;
    text-decoration: none;
}
a:visited {
    color: indianred;
    text-decoration: none;
}
h3 {
    margin-bottom: 0.5em;
}
p {
    font-size: 0.75em;
}
.flex {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.big-button:link {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
}
.big-button:visited {
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 50%;
}
.blurple {
    background-color: #5865F2;
}
.red {
    background-color: indianred;
}
.head {
    background-color: #121212;
    /* make float */
    position: fixed;
    top: 0;
    width: 100%
}
.head-flex {
    display: flex;
}
.head-link {
    padding: 5px;
    font-size: 0.75em;
    font-weight: bold;
    text-decoration: none;
}

/* some overrides to make header links color correctly */
.head-link:link {
    color: white;
}
.head-link:visited {
    color: white;
}

.head-link:hover {
    color: indianred;
}
.head-div {
    background-color: white;
    width: 2px;
}
.head-line {
    background-color: white;
    height: 2px;
}
.content {
    /* center content */
    max-width: 250mm;
    margin: auto;
    padding-left: 5mm;
    padding-right: 5mm;
}
.accent-line {
    background-color: indianred;
    height: 5px;
}
.graphic {
    display: block;
    max-width: 90%;
    min-width: 50%;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
}
.desc {
    font-size: 0.5em;
    color: lightgrey;
    text-align: center;
}